@model IEnumerable<User>

@{
    ViewData["Title"] = "Home Page";
}




<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Password</th>
            <th>isAdmin</th>
            <th></th>
             
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.isAdmin</td>
                <td class="text-center">
                    <div class="w-75 btn-group" role="group">
                         <a class="btn btn-primary" asp-controller="Registration" asp-action="Edit" asp-route-id="@user.Id"><i class="bi bi-pencil-square"></i>Edit</a> 
                         <a class="btn btn-secondary w-auto" asp-controller="Registration" asp-action="Delete" asp-route-id="@user.Id"><i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
